@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
</div>

<header class="masthead text-center text-black">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Ropey DVDs</h1>
            <h2 class="masthead-subheading mb-0">The way we see it, the DVD rental service was simply the missing piece for out customers,...</h2>
            <h2 class="masthead-subheading mb-0">We were already selling DVDs, DVD players and recorders.</h2c>
        </div>
    </div>
</header>